.faqItem
  width: 57em
  border: 1px solid lightgrey
  border-radius: 5px
  margin: 0.5em  
  margin-left: 15em
  margin-top: 1em
  display: flex
  flex-direction: column
  &:hover
    background: #F5F5F5
    color: #377dff

  &>p 
  padding: 1em
  border-top: 1px solid lightgrey

.faqTitle
  display: flex
  flex-direction:row
  justify-content: space-between  
  padding: 0.5em 0
  &:hover
    color: #377dff

  i 
    color: #377dff
  